:root {
  --main-font: 'Roboto', sans-serif;
  --socondary-font: 'Raleway', sans-serif;
  --dark-color: #2e2f42;
  --primarybrand-color: #4d5ae5;
  --text-color: #434455;
  --modalbackground-color: #fff;
  --light-color: #F4F4FD;
  --accent-color: #E7E9FC;
  --pressedstate-color: #404BBF;

}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--modalbackground-color);
}

/* =============HEADER INDEX.HTML============ */


.header{
    border-bottom: 1px solid var(--accent-color);
      background: var(--modalbackground-color);
}
.logo {
  color: var(--primarybrand-color);
  
  font-family: var(--socondary-font);
  font-size: 18px;
    font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio {
  color: var(--dark-color);
}

.address{
font-style: normal;

}
.navigation-pages,
.navigation-contact {
  list-style: none;
}


.navigation-page {
  text-decoration: none;
  color: var(--dark-color);
      font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

  .navigation-page:hover,
    navigation-page:focus{
      color: var(--pressedstate-color);
    }

.email,
.phone {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  font-style: normal;
}

.email:hover,
.phone:hover,
.focus:hover,
.focus:hover{
color: var(--pressedstate-color);
}

/* =============SOLLUTIONS INDEX.HTML============ */

.sollutions {
  background-color: var(--dark-color);
  text-align: center;
}

.sollutions-tiitle {
  color: var(--modalbackground-color);

  font-size: 56px;
  font-weight: 700;
  line-height: 1.071;
  letter-spacing: 1.12px;
}

.buttom-order {
  color: var(--modalbackground-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--primarybrand-color);
  cursor: pointer;
}

.features-strategy {
  display: none;
}

.feature-items {
  list-style: none;
}

.feature-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.feature-description {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.32px;
}

/* =============DEVICES INDEX.HTML============ */
.devices-tittle {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.111;
  text-transform: capitalize;
}

.devices-list {
  list-style: none;
}

.team-tittle {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.111;
  text-transform: capitalize;
}

.team-list {
  list-style: none;

  /* =============text-align: center;============ */
}

.team-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-role {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.footer-background {
  background: var(--dark-color);
}

.web-footer {
  color: var(--primarybrand-color);

}

.studio-footer {
  color: var(--modalbackground-color);
}

.footer-description {
  color: var(--modalbackground-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

}










/* =============portfolio;============ */
.buttons-tittle {
  display: none;
}

.buttons-list {
  list-style: none;
  
}

.button-name {
  color: var(--primarybrand-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--light-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
cursor: pointer;
}

.button-name:hover,
.button-name:focus {
  color: var(--modalbackground-color);
  background-color: var(--pressedstate-color);

}


.apps-tittle {
  display: none;
}

.apps-list {
  list-style: none;
}

.apps-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}