:root {
  --main-font: 'Roboto', sans-serif;
  --socondary-font: 'Raleway', sans-serif;
  --dark-color: #2e2f42;
  --primarybrand-color: #4d5ae5;
  --text-color: #434455;
  --modalbackground-color: #fff;
}

body {
  font-family: var(--main-font);
}

/* =============HEADER INDEX.HTML============ */

.navigation {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.logo {
  color: var(--dark-color);
  font-family: var(----socondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.166;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio {
  color: var(--primarybrand-color);
}

.navigation-pages,
.navigation-contact {
  list-style-type: none;
}

.navigation-page {
  text-decoration: none;
  color: var(--dark-color);
}

.email,
.phone {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  font-style: normal;
}

/* =============SOLLUTIONS INDEX.HTML============ */

.sollutions {
  background-color: var(--dark-color);
  text-align: center;
}

.sollutions-tiitle {
  color: var(--modalbackground-color);

  font-size: 56px;
  font-weight: 700;
  line-height: 1.071;
  letter-spacing: 1.12px;
}

.buttom-order {
  color: var(--modalbackground-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--primarybrand-color);
  cursor: pointer;
}

.features-strategy {
  display: none;
}

.feature-items {
  list-style-type: none;
}

.feature-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.feature-description {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.32px;
}

/* =============DEVICES INDEX.HTML============ */
.devices-tittle {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.111;
  text-transform: capitalize;
}

.devices-list {
  list-style-type: none;
}

.team-tittle {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.111;
  text-transform: capitalize;
}

.team-list {
  list-style-type: none;

  /* =============text-align: center;============ */
}

.team-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-role {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.footer-background {
  background: var(--dark-color);
}

.web-footer {
  color: var(--primarybrand-color);

}

.studio-footer {
  color: var(--modalbackground-color);
}

.footer-description{
  color: var(--modalbackground-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

}